.u-section-1 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 457px;
  margin: 30px -225px 0 225px;
}

.u-section-1 .u-custom-html-2 {
  margin: 60px auto 60px 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 38px auto 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: 27px;
    margin-right: -117px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: 359px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-2 {
    height: auto;
    min-height: 327px;
    margin-right: 93px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-2 {
    width: 327px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 130px;
  }
}