.u-section-1 .u-sheet-1 {
  min-height: 517px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 457px;
  margin: 30px -223px 30px 223px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }
}