.u-section-1 .u-sheet-1 {
  min-height: 782px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.125rem;
  margin: 97px auto 0;
}

.u-section-1 .u-video-1 {
  width: 802px;
  height: 427px;
  margin: 42px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 121px;
  }

  .u-section-1 .u-video-1 {
    height: 426px;
    margin-top: 38px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 139px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 181px;
    margin-top: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 860px;
}

.u-section-2 .u-text-1 {
  font-size: 3.125rem;
  margin: 89px auto 0;
}

.u-section-2 .u-video-1 {
  width: 802px;
  height: 427px;
  margin: 98px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    height: 426px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-video-1 {
    height: 382px;
    margin-top: 86px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-2 .u-video-1 {
    height: 287px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 134px;
  }

  .u-section-2 .u-video-1 {
    height: 181px;
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}