.u-section-1 .u-sheet-1 {
  min-height: 1155px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 168px;
  margin: 111px 145px 0 auto;
}

.u-section-1 .u-text-1 {
  line-height: 1.6;
  font-size: 1.25rem;
  margin: -139px 883px 0 105px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: -52px 158px 0 695px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 53px 145px 60px 708px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 783px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 58px;
    margin-left: 595px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 45px;
    margin-left: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 568px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 433px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 433px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 388px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 253px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-right: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 188px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 53px;
  }
}