.u-section-1 .u-sheet-1 {
  min-height: 662px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 547px;
  width: 1169px;
  margin: 78px -15px 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 527px;
  width: 520px;
  margin: 60px auto;
}

.u-section-1 .u-custom-html-3 {
  min-height: 327px;
  margin: 168px 20px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 77px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 57px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-2 {
    width: 340px;
    margin-top: 58px;
    margin-right: 50px;
    margin-left: -50px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}