.u-section-1 .u-sheet-1 {
  min-height: 1157px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 327px;
  height: auto;
  margin: 188px -389px 0 409px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 57px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 266px;
    margin-right: -294px;
    margin-left: 314px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 162px;
    margin-right: -163px;
    margin-left: 183px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 62px;
    margin-right: -72px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}